# kabu.com API
KABUS_URL=https://localhost:18080/kabusapi
KABUS_USER_TOKEN=
KABUS_PASSWORD=
KABUS_APP_KEY=

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_STREAM=fills

# slack
SLACK_WEBHOOK_URL=

# logging
LOG_LEVEL=INFO
ENVIRONMENT=development
